# Sway Wayland compositor configuration.
# See: sway(5)
output eDP-1 pos 0 0 res 1920x1080
output eDP-1 enable
output eDP-1 scale 1.5
output eDP-1 pos 0 0 res 1920x1080
output eDP-1 enable
output DP-6 scale 2
output DP-6 pos 1280 0 res 3840x2160
output * bg "~/Pictures/wallpapers/current.jpg" fill

exec systemctl --user import-environment DISPLAY WAYLAND_DISPLAY SWAYSOCK
exec hash dbus-update-activation-environment 2>/dev/null && \
     dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK

# A polkit agent is needed by some apps.
exec lxpolkit

# Allow screen sharing
exec env XDG_CURRENT_DESKTOP=sway /usr/libexec/xdg-desktop-portal -r

default_orientation horizontal
#workspace_layout tabbed

set $mod Mod4
set $alt Mod1
set $ctrl Control

# Disable annoying focus with mouse.
focus_follows_mouse no

# use these keys for focus, movement, and resize directions when reaching for
# the arrows is not convenient
set $up k
set $down j
set $left h
set $right l

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $alt

# kill focused window
bindsym $alt+F4 kill

# The middle button over a titlebar kills the window
bindsym --release button2 kill
# The right button toggles floating
bindsym button3 floating toggle

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym $left       resize shrink width 10 px or 10 ppt
        bindsym $down       resize grow height 10 px or 10 ppt
        bindsym $up         resize shrink height 10 px or 10 ppt
        bindsym $right      resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left        resize shrink width 10 px or 10 ppt
        bindsym Down        resize grow height 10 px or 10 ppt
        bindsym Up          resize shrink height 10 px or 10 ppt
        bindsym Right       resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bar {
        #tray_output eDP-1
        #tray_output DP-4
        #status_command i3status --config ~/.i3/status.conf
        #status_command i3status-rs ~/.config/sway/status.toml
        swaybar_command sh -c "sleep 5; exec ~/bin/waybar.sh"
        colors {
                background #282828
                statusline #aaaaaa
                separator #505050

                focused_workspace  #4c7899 #285577 #ffffff
                active_workspace   #333333 #5f676a #ffffff
                inactive_workspace #333333 #222222 #888888
                urgent_workspace   #2f343a #900000 #ffffff
                binding_mode       #2f343a #900000 #ffffff
        }
}

default_border pixel 4
default_floating_border normal
hide_edge_borders --i3 smart

titlebar_padding 2
titlebar_border_thickness 0
font JetBrains Mono NL Medium 10px

workspace_auto_back_and_forth yes

# class                 border  backgr. text    indicator child_border
client.focused          #4c7899 #285577 #aaddff #2e9ef4   #00aaff
client.focused_inactive #333333 #5f676a #aaddff #484e50   #5f676a
client.unfocused        #333333 #222222 #888888 #292d2e   #222222
client.urgent           #2f343a #900000 #ffffff #900000   #900000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c
client.background       #ffffff

# Window behavior
#for_window [instance="^copyq$" class="^[Cc]opyq"] floating enable, border normal
#for_window [instance="^xfce4-appfinder$" class="^Xfce4-appfinder$"] floating enable, border normal
#for_window [instance="^xev$"] floating enable, border normal
for_window [app_id="^com.github.hluk.copyq$"] floating enable, border normal
for_window [title="^InfiniteCopy$"] floating enable, border normal

for_window [app_id="^mpv$"] floating enable, resize set 960 540, border pixel 0

# for_window [app_id="^org.mozilla.firefox$"] move workspace 2
# for_window [app_id="^firefox-work$"] move workspace 3
for_window [app_id="^firefox$" title="^Picture-in-Picture$"] floating enable

for_window [title=" - Sharing Indicator$"] floating enable, sticky enable
for_window [title="^Password Required .* Firefox$"] floating enable

for_window [class="^krunner$"] floating enable, border none
for_window [app_id="^ulauncher$"] floating enable, border none

for_window [class="^steam_app_"] floating enable, border none

for_window [class="^Shortcut_center"] floating enable

# Omit locking when fullscreen window is active
# xwayland version
# for_window [class=".*"] inhibit_idle fullscreen
# wayland vesion
# for_window [app_id=".*"] inhibit_idle fullscreen
# all windows
for_window [class=".*"] inhibit_idle focus
for_window [app_id=".*"] inhibit_idle focus

# Shortcuts
{% macro bind_(key, cmd, mods, exit_cmd) -%}
  {% for mod in mods %}
    bindsym --no-repeat {{ mod }}{{ key }} {{ cmd }}; {{ exit_cmd }}
  {%- endfor %}
{%- endmacro %}

{% macro bindexec_(key, cmd, mods, exit_cmd) -%}
  {% for mod in mods %}
    bindsym --no-repeat {{ mod }}{{ key }} {{ exit_cmd }}; exec '{{ cmd }}'
  {%- endfor %}
{%- endmacro %}

bindsym --no-repeat Super_L mode "shortcut mode"
mode "shortcut mode" {
  {% macro bind(key, cmd, mods=("", "$mod+"), exit_cmd="mode default") -%}{{ bind_(key, cmd, mods, exit_cmd) }}{%- endmacro %}
  {% macro bindexec(key, cmd, mods=("", "$mod+"), exit_cmd="mode default") -%}{{ bindexec_(key, cmd, mods, exit_cmd) }}{%- endmacro %}
  {% include 'shortcuts' %}

  {{ bind('Super_L', 'workspace back_and_forth') }}
  {{ bind('Escape', '') }}
}

{% macro bind(key, cmd, mods=("$mod+",), exit_cmd="") -%}{{ bind_(key, cmd, mods, exit_cmd) }}{%- endmacro %}
{% macro bindexec(key, cmd, mods=("$mod+",), exit_cmd="") -%}{{ bindexec_(key, cmd, mods, exit_cmd) }}{%- endmacro %}

{% include 'shortcuts' %}

bindsym $ctrl+$alt+l exec "~/bin/lock.sh"
bindsym $ctrl+$alt+0 exec "~/bin/suspend.sh"

# Volume
bindsym XF86AudioLowerVolume exec "~/bin/volume_down.sh"
bindsym XF86AudioRaiseVolume exec "~/bin/volume_up.sh"
bindsym XF86AudioMute exec "~/bin/togglemute.sh"
bindsym XF86AudioPlay exec "~/bin/toggleplay.sh"

bindsym XF86MonBrightnessDown exec "~/bin/brightness_down.sh"
bindsym XF86MonBrightnessUp exec "~/bin/brightness_up.sh"

# Autostart
exec "~/bin/notifications.sh"
exec "~/bin/sunset.sh"
exec "~/bin/idle.sh"
exec "~/bin/xitomatl.sh"

# sleep as workaround for big tray icons waybar 0.9.8 bug
# https://github.com/Alexays/Waybar/issues/1212
exec sh -c "sleep 5; exec ~/bin/clipboard.sh"

# swaymsg -t get_outputs
# exec_always "~/bin/monitors.sh"

# swaymsg -t get_inputs
#input type:keyboard xkb_numlock enable
exec_always "~/bin/keyboard.sh"

exec_always sh -c "pkill ulauncher; ulauncher --hide-window"

{% for n in [0,6,7,8,9,10] %}
  workspace {{ n }} output eDP-1
{% endfor %}

{% for n in [1,2,3,4,5] %}
  workspace {{ n }} output DP-6
{% endfor %}

focus output DP-6
