[user]
    name = Lukas Holecek
    email = hluk@email.cz
[color]
    ui = auto
[alias]
    co = checkout
    st = status --branch --short
    d  = diff
    la = log --date-order --oneline --all --graph --decorate --branches --tags -30
    c = commit --allow-empty --signoff
    pr = pull --rebase
    f = fetch --all --tags --prune
    ca = commit --all --amend --no-edit
    up = !git checkout master && git pull --rebase upstream master && git push origin master
    upd = !git checkout develop && git pull --rebase upstream develop && git push origin develop
[core]
    whitespace = cr-at-eol
    autocrlf = input
    pager = less -FRSX
    editor = vimx
    trustctime = false
[push]
    default = tracking
[rerere]
    enabled = true
    autoupdate = true
[rebase]
    stat = true
[diff]
    tool = gvimdiff
    colorMoved = true
    noprefix = true
[difftool]
    prompt = false
    trustExitCode = true # :cq in Vim to abort opening next diffs
[merge]
    tool = gvimdiff
[mergetool]
    keepBackup = false
    trustExitCode = true
