[user]
    name = Lukas Holecek
    email = hluk@email.cz
[color]
    ui = auto
[alias]
    co = checkout
    st = status --branch --short
    d  = diff
    la = log --date-order --oneline --all --graph --decorate --branches --tags -50
    c = commit --allow-empty
    pr = pull --rebase
    f = fetch --all --tags --prune
[core]
    whitespace = cr-at-eol
    autocrlf = input
    pager = less -FRSX
    editor = nvim
    trustctime = false
[push]
    default = tracking
[rerere]
    enabled = true
    autoupdate = true
[rebase]
    stat = true
[merge]
    tool = vimdiff
[commit]
    template = /home/lukas/.gitmessage.txt
[difftool]
    prompt = false
[mergetool]
    keepBackup = false
