! this are Xresources to make xterm look good
! put into ~/.Xresources
! after changing contents, run xrdb -merge ~/.Xresources

!#define FONT1 -*-proggysquare-*-*-*-*-*-80-*-*-*-*-*-*
!#define FONT1 -xos4-terminus-medium-r-normal--17-*-*-*-*-*-iso10646-1
!#define FONT1 -*-fixed-medium-r-normal--18-*-*-*-*-*-iso10646-1


!#define FONT1 xft:liberation mono:size=8
!#define FONT1 xft:Andale Mono:size=10
!#define FONT1 xft:Dejavu Sans Mono:size=9
!#define FONT1 xft:Inconsolata:size=13
!#define FONT1 xft:Bitstream Vera Sans Mono:pixelsize=10
!#define FONT1 xft:Consolas:size=16.5

XTerm*vt100.RenderFont: true
XTerm*vt100.FaceName: Consolas:size=16.5

!!!!!!XTERM:COLORS
XTerm*vt100.colorMode: on
XTerm*vt100.dynamicColors: on
XTerm*vt100.depth: 24
XTerm*vt100.background: gray25
!XTerm*vt100.background: white
!XTerm*vt100.depth: 32
!XTerm*vt100.background: rgba:0000/2000/3000/aaaa
XTerm*vt100.foreground: white
!!!background color of color11
XTerm*vt100.color0: black
XTerm*vt100.color1: red
XTerm*vt100.color2: green3
XTerm*vt100.color3: yellow
!!!mc background
!XTerm*vt100.color4: black
XTerm*vt100.color4: DarkSeaGreen4
XTerm*vt100.color5: blue3
!!!selection background (+mc menu)
XTerm*vt100.color6: DarkSeaGreen3
!!!active buttons and files
XTerm*vt100.color7: LightYellow1
XTerm*vt100.color8: gray50
XTerm*vt100.color9: red
!!!login and exutables foreground
XTerm*vt100.color10: green1
!!!mc column names
XTerm*vt100.color11: DarkSeaGreen1
!!!directories foreground
XTerm*vt100.color12: yellow2
!!!mc nonfiles foreground
XTerm*vt100.color13: IndianRed1
XTerm*vt100.color14: cyan
!!!mc directories foreground
XTerm*vt100.color15: white
XTerm*vt100.colorUL: yellow
XTerm*vt100.colorBD: white
XTerm*vt100.cursorColor: gray
XTerm*vt100.cursorBlink: true

!!!!!!XTERM:FONT
XTerm*vt100.font: FONT1
XTerm*vt100.boldMode: true

!!!!!!XTERM:GEOMETRY
!XTerm*vt100.geometry: 100x50

!!!!!!XTERM:SCROLLING
XTerm*vt100.scrollBar: false
XTerm*vt100.saveLines: 1024
XTerm*vt100.scrollKey: true
XTerm*vt100.scrollTtyOutput: false
XTerm*vt100.scrollTtyKeypress: true
XTerm*vt100.scrollWithBuffer: false
!XTerm*vt100.jumpScroll: true
XTerm*vt100.skipScroll: true
XTerm*vt100.scrollColor: #aaa894
XTerm*vt100.troughColor: #000000
XTerm*vt100.scrollstyle: plain

XTerm*vt100.tintColor: #60aadd
XTerm*vt100.shading: 80
XTerm*vt100.inheritPixmap: true
XTerm*vt100.transparent: false

Xft.antialias:true
!Xft.dpi:94
Xft.hinting:true
Xft.hintstyle:hintfull
Xft.rgba:rgb

!Xcursor.theme: gruppled_black
Xcursor.theme: neutral

xpdf*enableFreetype:    yes
xpdf*antialias:         yes
xpdf*foreground:        black
xpdf*background:        white
!xpdf*urlCommand:        /usr/bin/chromium-bin %s

