! this are Xresources to make xterm look good
! put into ~/.Xresources
! after changing contents, run xrdb -merge ~/.Xresources

!#define FONT1 -*-proggysquare-*-*-*-*-*-80-*-*-*-*-*-*
!#define FONT1 -xos4-terminus-medium-r-normal--17-*-*-*-*-*-iso10646-1
!#define FONT1 -*-fixed-medium-r-normal--18-*-*-*-*-*-iso10646-1

!#define FONT1 xft:liberation mono:size=8
!#define FONT1 xft:Andale Mono:size=10
!#define FONT1 xft:Dejavu Sans Mono:size=9
!#define FONT1 xft:Inconsolata:size=13
!#define FONT1 xft:Bitstream Vera Sans Mono:pixelsize=10
!#define FONT1 xft:Consolas:size=16.5

XTerm*vt100.RenderFont: true
XTerm*vt100.FaceName: Consolas:size=12

!!!!!!XTERM:FONT
XTerm*vt100.font: FONT1
XTerm*vt100.boldMode: false

!!!!!!XTERM:GEOMETRY
!XTerm*vt100.geometry: 100x50

!!!!!!XTERM:SCROLLING
XTerm*vt100.scrollBar: false
XTerm*vt100.saveLines: 1024
XTerm*vt100.scrollKey: true
XTerm*vt100.scrollTtyOutput: false
XTerm*vt100.scrollTtyKeypress: true
XTerm*vt100.scrollWithBuffer: false
!XTerm*vt100.jumpScroll: true
XTerm*vt100.skipScroll: true
XTerm*vt100.scrollColor: #aaa894
XTerm*vt100.troughColor: #000000
XTerm*vt100.scrollstyle: plain

XTerm*vt100.tintColor: #60aadd
XTerm*vt100.shading: 80
XTerm*vt100.inheritPixmap: true
XTerm*vt100.transparent: false

Xft.antialias:true
!Xft.dpi:94
Xft.hinting:true
Xft.hintstyle:hintfull
Xft.rgba:rgb

!Xcursor.theme: gruppled_black
Xcursor.theme: neutral

xpdf*enableFreetype:    yes
xpdf*antialias:         yes
xpdf*foreground:        black
xpdf*background:        white
!xpdf*urlCommand:        /usr/bin/chromium-bin %s

!!! color schemes: http://phraktured.net/terminal-colors/
!*cursorColor: gray
XTerm*vt100.foreground:     rgb:dd/dd/dd
XTerm*vt100.background:     rgb:22/22/22
!black
XTerm*vt100.color0:         rgb:19/19/19
XTerm*vt100.color8:         rgb:25/25/25
!red
XTerm*vt100.color1:         rgb:80/32/32
XTerm*vt100.color9:         rgb:98/2b/2b
!green
XTerm*vt100.color2:         rgb:5b/76/2f
XTerm*vt100.color10:        rgb:89/b8/3f
!brown/yellow
XTerm*vt100.color3:         rgb:aa/99/43
XTerm*vt100.color11:        rgb:ef/ef/60
!blue
XTerm*vt100.color4:         rgb:32/4c/80
XTerm*vt100.color12:        rgb:2b/4f/98
!magenta
XTerm*vt100.color5:         rgb:70/6c/9a
XTerm*vt100.color13:        rgb:82/6a/b1
!cyan
XTerm*vt100.color6:         rgb:92/b1/9e
XTerm*vt100.color14:        rgb:a1/cd/cd
!white
XTerm*vt100.color7:         rgb:ff/ff/ff
XTerm*vt100.color15:        rgb:dd/dd/dd

