! this are Xresources to make xterm look good
! put into ~/.Xresources
! after changing contents, run xrdb -merge ~/.Xresources

!#define FONT1 -*-proggysquare-*-*-*-*-*-80-*-*-*-*-*-*
!#define FONT1 -xos4-terminus-medium-r-normal--17-*-*-*-*-*-iso10646-1
!#define FONT1 -*-fixed-medium-r-normal--18-*-*-*-*-*-iso10646-1

!#define FONT1 xft:liberation mono:size=8
!#define FONT1 xft:Andale Mono:size=10
!#define FONT1 xft:Dejavu Sans Mono:size=9
!#define FONT1 xft:Inconsolata:size=13
!#define FONT1 xft:Bitstream Vera Sans Mono:pixelsize=10
#define FONT1 xft:Consolas:size=14

!!!!!!XTERM:FONT
URxvt.RenderFont: true
URxvt.FaceName: FONT1
URxvt.boldMode: false

!!!!!!XTERM:GEOMETRY
!URxvt.geometry: 100x50

!!!!!!XTERM:SCROLLING
URxvt.scrollBar: false
URxvt.saveLines: 1024
URxvt.scrollKey: true
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeypress: true
URxvt.scrollWithBuffer: false
!URxvt.jumpScroll: true
URxvt.skipScroll: true
URxvt.scrollColor: #aaa894
URxvt.troughColor: #000000
URxvt.scrollstyle: plain

URxvt.tintColor: #60aadd
URxvt.shading: 80
URxvt.inheritPixmap: true
URxvt.transparent: false

Xft.antialias:true
!Xft.dpi:94
Xft.hinting:true
Xft.hintstyle:hintfull
Xft.rgba:rgb

Xcursor.theme: pearl
!Xcursor.theme: Human
!Xcursor.theme: neutral
!Xcursor.theme: Ecliz_Full
!Xcursor.theme: aero
!Xcursor.theme: PROTOZOA

xpdf*enableFreetype:    yes
xpdf*antialias:         yes
xpdf*foreground:        black
xpdf*background:        white
!xpdf*urlCommand:        /usr/bin/chromium-bin %s

!!! color schemes: http://phraktured.net/terminal-colors/
!*cursorColor: gray
URxvt.foreground:     rgb:dd/dd/dd
URxvt.background:     rgb:22/22/22
!black
URxvt.color0:         rgb:19/19/19
URxvt.color8:         rgb:25/25/25
!red
URxvt.color1:         rgb:80/32/32
URxvt.color9:         rgb:98/2b/2b
!green
URxvt.color2:         rgb:5b/76/2f
URxvt.color10:        rgb:89/b8/3f
!brown/yellow
URxvt.color3:         rgb:aa/99/43
URxvt.color11:        rgb:ef/ef/60
!blue
URxvt.color4:         rgb:32/4c/80
URxvt.color12:        rgb:2b/4f/98
!magenta
URxvt.color5:         rgb:70/6c/9a
URxvt.color13:        rgb:82/6a/b1
!cyan
URxvt.color6:         rgb:92/b1/9e
URxvt.color14:        rgb:a1/cd/cd
!white
URxvt.color7:         rgb:ff/ff/ff
URxvt.color15:        rgb:dd/dd/dd

