/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background-color: #282828;
    color: #aaa;
    font-family: JetBrains Mono NL Medium;
    /*font-family: Overpass;*/
    font-size: 12px;
}

/* Each module */
#custom-notification,
#custom-redshift,
#battery,
#clock,
#cpu,
#mode,
#network,
#pulseaudio,
#tray {
    padding-left: 8px;
    padding-right: 8px;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#clock {
}

#cpu {
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#mode {
    background-color: #64727D;
    border-bottom: 2px solid #eee;
    /* To compensate for the top border and still have vertical centering */
    padding-top: 2px;
}

#network {
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

#window {
    margin-left: 32px;
    margin-right: 32px;
    font-weight: normal;
    color: #bbb;
}

#workspaces button {
    border-bottom: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    color: #888888;
    font-weight: bold;
}

#workspaces button:hover {
  background: #323232;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: #aaddff;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
