/* Hide title for tab tree sidebar. */
#sidebar-header {
  display: none;
}

#sidebar-splitter {
    background-color: black !important;
    border: none !important;
}

/* Hide top toolbar with tabs. */
#TabsToolbar {
    visibility: collapse !important;
}
